@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --font-primary: 'DM Sans', sans-serif;
    --primary-color: #0e3b7c;
    --secondary-color: #1777e5;
    --tertiary-color: #009cf3;
}

.font-primary {
    font-family: var(--font-primary) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.color-primary {
    color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.bg-tertiary {
    background-color: var(--tertiary-color) !important;
}

.color-tertiary {
    color: var(--tertiary-color) !important;
}

.main-sidebar {
    background-color: #183b70 !important;
}

.border-table {
    border-radius: 6px;
    overflow: hidden;
}